<ion-header>
  <ion-toolbar>
    <ion-title>
      Sports App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="leagues">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Leagues</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="english-teams">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>English Teams</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="spanish-teams">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Spanish Teams</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="latest-event">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Latest Event</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
